.cocktail-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper-show {
  display: block;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  background-color: #F9FBFC;
}

a {
  color: #1c1c1f;
}
