<div class="navigation-bar">
  <div class="navigation">
    <div class="welcome">
      <h1>Cocktail Lab<h1>
    </div>
    <div class="nav-burger">
      <div class="dropdown">
        <i class="fas fa-glass-martini" data-toggle="dropdown" id="navbar-cocktail-menu"></i>
        <ul class="dropdown-menu dropdown-menu-left navbar-cocktail-dropdown-menu">
          <li><%= link_to "Cocktail List", cocktails_path %></li>
          <li><%= link_to "Add a Cocktail", new_cocktail_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
