<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "card-pic.jpg" %>');">
  <div class="banner-description">
    <h1>Chreate a new dose</h1>
  </div>
</div>

<div class="container form-dose">
  <%= render 'doses_form' %>
  <%= link_to "Go back", cocktail_path(@cocktail.id) %>
</div>


